html,body{
  background-color: #1c1c1c;
  color: #e6e7e8;
  /* height: 100%; */
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.calculator{
  background-color: #232D5E;
  padding: 1rem;
  text-align: center;
}
h1{
  margin: 0;
  padding: 0;
  color: #D5A001;
}
form, #results{
  background-color: #232D5E;
  border: 1px solid #e6e7e8;
  width: 30vw;
  margin: 2rem auto 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-bottom: none;
}
.input1, .input2{
  margin: .5rem;
  width: 90%;
}
form button{
  background-color: #D5A001;
  outline: #D5A001;
  border: 1px solid #1c1c1c;
  width: 30%;
  margin: 1rem;
  padding: .5rem;
}
#results{
  margin: 0 auto 2rem;
  border-top: none;
  border-bottom: 1px solid #e6e7e8;
}

#calc-parent{
  width: 21.3%;
  margin: 2rem auto;
}
.calc-btn{
  background-color: #e6e7e8;
  color: #1c1c1c;
  width: 25px;
  height: 45px;
  border: 1px solid black;
  text-align: center;
  font-weight: 100;
  cursor: pointer;
  font-size: 32px;
  padding-top: 3px;
}
.calc-btn:hover{
  background-color: #D5A001;
}
.row{
  display: table;
  table-layout: fixed;
  width: 200px;
}
.column{
  display: table-cell;
}
#calc-zero{
  width: 51.66666667px;
  border-radius: 0 0 0 7px;
}
#calc-clear{
  width: 51.66666667px;
}
#calc-display-val{
  height: 80px;
  color: #e6e7e8;
  text-align: right;
  border: 1px solid black;
  border-bottom: none;
  font-size: 48px;
  background-color: #232D5E;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px;
  border-radius: 7px 7px 0 0;
}
.calc-btn-operator{
  background-color: #D5A001;
  color: #e6e7e8;
}
#calc-equals{
  border-radius: 0 0 7px 0;
}

#calculatorV3{
  width: 320px;
  height: 551px;
  background: #232D5E;
  border: 1px solid #D5A001;
  margin: 2rem auto;
  box-shadow: 0 4px 8px 0 rgba(230, 231, 232, .19), 0 6px 20px 0 rgba(213, 160, 1, .2);
}
#result{
  height: 110px;
  background-color: rgba(0, 0, 0, .4);
}
#result p{
  margin: 0;
}
#history, #output{
  box-sizing: border-box;
  text-align: right;
  height: 40%;
  /* background-color: darkblue; */
  padding: 1rem;
  font-size: 2rem;
}
#history{
  color: rgba(230, 231, 232, .4);
  font-size: 1rem;
}
#keyboard{
  height: 440px;
  background-color: rgba(0, 0, 0, .6);
}
.calc-v3-operator, .calc-v3-number, .calc-v3-empty{
  font-family: 'IBM Plex Mono', monospace;
  background-color: #e6e7e8;
  color: #1c1c1c;
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
}
.calc-v3-operator{
  cursor: pointer;
  background-color: #D5A001;
  border: 2px solid #e6e7e8;
}
.calc-v3-number{
  cursor: pointer;
  border: 2px solid #D5A001;
}
.calc-v3-operator:hover{
  
}
.calc-v3-number:hover{
  border: 2px solid #e6e7e8;
  background-color: #D5A001;
}
.calc-v3-operator:active, .calc-v3-number:active{
  font-size: 13px;
}
.calc-v3-empty{
  background-color: rgba(0, 0, 0, .0);
}