html,body{
  background-color: #1c1c1c;
  color: #e6e7e8;
  /* height: 100%; */
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.calculator{
  background-color: #232D5E;
  padding: 1rem;
  text-align: center;
}
h1{
  margin: 0;
  padding: 0;
  color: #D5A001;
}
form, #results{
  background-color: #232D5E;
  border: 1px solid #e6e7e8;
  width: 30vw;
  margin: 2rem auto 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-bottom: none;
}
.input1, .input2{
  margin: .5rem;
  width: 90%;
}
form button{
  background-color: #D5A001;
  outline: #D5A001;
  border: 1px solid #1c1c1c;
  width: 30%;
  margin: 1rem;
  padding: .5rem;
}
#results{
  margin: 0 auto 2rem;
  border-top: none;
  border-bottom: 1px solid #e6e7e8;
}

#calc-parent{
  width: 21.3%;
  margin: 2rem auto;
}
.calc-btn{
  background-color: #e6e7e8;
  color: #1c1c1c;
  width: 25px;
  height: 45px;
  border: 1px solid black;
  text-align: center;
  font-weight: 100;
  cursor: pointer;
  font-size: 32px;
  padding-top: 3px;
}
.calc-btn:hover{
  background-color: #D5A001;
}
.row{
  display: table;
  table-layout: fixed;
  width: 200px;
}
.column{
  display: table-cell;
}
#calc-zero{
  width: 51.66666667px;
  border-radius: 0 0 0 7px;
}
#calc-clear{
  width: 51.66666667px;
}
#calc-display-val{
  height: 80px;
  color: #e6e7e8;
  text-align: right;
  border: 1px solid black;
  border-bottom: none;
  font-size: 48px;
  background-color: #232D5E;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px;
  border-radius: 7px 7px 0 0;
}
.calc-btn-operator{
  background-color: #D5A001;
  color: #e6e7e8;
}
#calc-equals{
  border-radius: 0 0 7px 0;
}

.calculator-v3{
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #D5A001;
  border-radius: 5px;
  background-color: #232D5E;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#calc-input{
  box-sizing: border-box;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0 .5rem;
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid #D5A001;
  text-align: right;
  font-size: 40px;
  color: rgba(230, 231, 232, .6);  
}
.calc-buttons{
  padding: 20px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 15px;
}
.calc-button{
  background-color: #1c1c1c;
  color: #e6e7e8;
  border: 1px solid #D5A001;
  padding: 10px;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-button:hover{
  background-color: #D5A001;
  color: #1c1c1c;
}
.is-clear, .is-zero{
  grid-column: span 3;
}
.is-equal{
  grid-column: span 4;
  background-color: #D5A001;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
}
.is-equal:hover{
  background-color: #1c1c1c;
  color: #e6e7e8;
  border: 1px solid #D5A001;
}